body {
    margin: 0;
    height: 100vh;
    
}
.wrapper {
    display: flex;
    /* flex-direction: row; */
    /* align-items: stretch; */
    height: 100%;
}

.nav {
    background-color: #111;
    flex: 2;
    position: relative;
}

.content {
    flex: 4;
    position: relative;
    background-color: #fff;
}
.transition {
    transition: ease-in 1s;
}
.menu li, i {
    color:#818181;
}
#close{
    position: absolute;
    top: 0;
    right: 10px;
}
#open{
    position: absolute;
    top: 0;
    left: 20px;
}
.info {
    margin: 70px 0 0 40px;
}
.menu {
    margin-top: 70px;
    list-style: none;
    font-size: 25px;
}
.menu li {
    padding: 20px 0;
}
.menu li:hover, i:hover {
    color: red;
    cursor: pointer;
}
