body{
    margin: 0;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 350px;
    background-color: #111111;
    font-size: 25px;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar li {
    display: block;
    text-decoration: none;
    color: #818181;
    margin-top: 60px;
    margin-left: 15px;
}

.sidebar li .close {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}

.sidebar li:hover {
    color: #f1f1f1;
    cursor: pointer;
}

main {
    margin: 20px 20px 20px 370px;
    transition: 0.5s;
}

main a {
    text-decoration: none;
    color:#818181;
}

main a:hover {
    color: black;
    cursor: pointer;
}

main a i, main h1, main p{
    margin-bottom: 20px;
}

.main a  {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main a  {
        display: block;
    }
    .sidebar li .close {
        display: block;
    }
}
/* iPad Landscape
@media  screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* CSS */
    /* .main a  {
        display: block;
    }
    .sidebar li .close {
        display: block;
    }
    } */