body {
    background-color:#262933;

}

.main {
    background-color: black;
    /* padding: 10px; */
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}
form {
    padding: 10px;
    position: absolute;
    background-color: pink;
    left: 20%;
    right: 20%;
    bottom: 5%;
    top: 5%;
    box-sizing: border-box;
    font-style: Helvetica;
}

.content {
    height: 40%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    
}

header {
    height: 20%;
    padding: 5px;
    background-color: #e1a500;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: white;
    
    
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: aqua;
    width: 100%;
    left: 0;
    height: 20%;
    background-color: white;
}

img {
    width: 10px;
}

#calculate {
    width: 50%;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    background-color: #00a3e1;
    color: white;
    font-size: 20px;
    border: solid 1px #00a3e1;
    border-radius: 10px;
}

button {
    background-color: #00a3e1;
    border: solid 1px #00a3e1;
    /* border-top-left-radius: 1px;
    border-bottom-left-radius: 1px; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#tipInfo {
    font-family: Arial, Helvetica, sans-serif;
}